.promotions-page__item {
	
}
.promotions-page__img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.promotions-page__name {
	display: block;
	font-weight: 800;
	font-size: 18px;
	line-height: 150%;
	color: #626262;
	margin-bottom: 27px;
}
.promotions-page__desc {
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #626262;
}

@media screen and (max-width: 767px) {
	.promotions-page__item {
		margin-bottom: 30px;
	}
	.promotions-page__name {
		font-size: 14px;
		line-height: 1.4;
		margin-bottom: 0;
	}
}