.blog-page__item {
	margin-bottom: 30px;
}
.blog-page__img {
	margin-bottom: 16px;
}
.blog-page__name {
	display: inline-block;
	height: auto;
	margin-top: 10px;
	font-weight: bold;
	font-size: 18px;
	color: #474747;
    line-height: 1.3;
    margin-bottom: 5px;
}
.blog-page__desc {
	color: rgb(71, 66, 43);
	line-height: 1.55;
	font-weight: normal;
	height: auto;
	font-size: 14px;
}
@media screen and (max-width: 991px) {
	.blog-page__name {
		font-size: 18px;
	}
	.blog-page__desc {
		font-size: 14px;
		line-height: 1.4;
	}
}